
@mixin mq($media-query) {
  @media ($media-query) { @content; }
}

@mixin for-IE-only {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     @content;
   }
}

@mixin for-IE-Edge {
    @supports (-ms-accelerator:true) {
        /* IE Edge 12+ CSS styles go here */
        @content;
    }
}

@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}
@mixin vertical-align(){
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
@mixin horz-align(){
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
@mixin align-all(){
	position: relative;
	top: 50%;
    left: 50%;
	transform: translate(-50%);
}

@mixin respond-to($name) {
    @if $name == "IE" {
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            @content;
        }
    }
    @if $name == "Edge" {
        @supports (-ms-ime-align:auto) {
            @content;
        }
    }
    @if $name == "mobile" {
        @media all and (max-width: 599px) {
            @content;
        }
    }
}
