.banner{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    .col-md-7{
        height: 350px;
        .banner-text{
            position: relative;
            top: 70%;
            transform: translateY(-50%);
            p{
                width: 70%;
            }
        }
    }
    &.middle{
        height: 450px;
        background-position: right center;
    }
}
.center-vert{
    @include vertical-align;
}
#mobility-summary, #assessmentSummary{
    .col-md-6{
        height: 300px;
        overflow: hidden;
    }
}
