<main>
    <!-- <header id="ms-header" class="ms-header">
      <div class="ms-header__inner">
        <img alt="Microsoft Logo" class="img-responsive" [src]="logoPath" />
      </div>
    </header> -->
    <router-outlet></router-outlet>
    <footer class="padded-vert2x">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>2019 Microsoft Corporation. All rights reserved</p>
                    <p>Microsoft Confidential. For Microsoft internal use only.</p>
                    <p>Materials herein are not for use by third parties including but not limited to OEMs, DSPs, ISVs, IHVs, and resellers.</p>
                    <p>Authorized vendors may use materials only pursuant to an express work request and/or agreement from Microsoft. <a href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">Privacy and Cookies</a></p>
                </div>
            </div>
        </div>
    </footer>
</main>
